
<div class="content-container">

  <div class="words">

  <p>I'm a journalist based in London.</p>
  <p>I write for <a href="https://https://www.newscientist.com/author/alex-wilkins/">New Scientist</a>, where I cover space, physics and technology. You can see my <a href="/portfolio">portfolio here</a>.</p>
  <p>Get in contact via email, Twitter, Bluesky or LinkedIn below.</p>
  </div>

<div class="photo">
  <div class="photo-wrapper">
  <img class="pic" src="/images/pic1.jpg" />
  <div class="socialbuttons">
    <a class="socialanchor" href="mailto:Alex.Wilkins@Newscientist.com"><img class="socialicon" src="/images/close-envelope.png"/></a>
    <a class="socialanchor" href="https://twitter.com/AlexWilkins22"><img class="socialicon" src="/images/twitter.png"/></a>
    <a class="socialanchor" href="https://www.linkedin.com/in/alex-wilkins-345077117/"><img class="socialicon" src="/images/linkedin.png"/></a>
    <a class="socialanchor" href="https://bsky.app/profile/alexwilkins.bsky.social"><img class="socialicon" src="/images/bluesky.png"/></a>
  </div>
  </div>
  </div>

</div>
