  <div class="words">

  <p>I'm a journalist and programmer based in London.</p>
  <p>I'm currently writing for <a href="https://metro.co.uk/author/alex-wilkins/">Metro</a>, where I cover science and technology.</p>
  <p>I'm an experienced programmer in HTML and CSS. I'm also comfortable with Javascript, D3.js and R. For a full list of my skills, see my <a href="/about">about</a> page.</p>
  <p>If you'd like to get in contact, you can email me or drop me a message on Twitter!</p>
  </div>

<div class="photo">
  <img class="pic" src="/images/pic1.jpg" />
  <div class="socialbuttons">
    <a class="socialanchor" href="mailto:Alex.Wilkins@metro.co.uk"><img class="socialicon" src="/images/close-envelope.png"/></a>
    <a class="socialanchor" href="https://twitter.com/AlexWilkins22"><img class="socialicon" src="/images/twitter.png"/></a>
    <a class="socialanchor" href="https://www.linkedin.com/in/alex-wilkins-345077117/"><img class="socialicon" src="/images/linkedin.png"/></a>
    </div>
  </div>
