
<div class="content-container">

  <div class="words">

  <p>I'm a journalist based in London.</p>
  <p>I'm currently writing for <a href="https://https://www.newscientist.com/author/alex-wilkins/">New Scientist</a>, where I mainly cover space, physics and technology. Here's my <a href="/portfolio">portfolio</a>.</p>
  <p>If you'd like to get in contact, you can email me or drop me a message on Twitter with the buttons to the right.</p>
  </div>

<div class="photo">
  <div class="photo-wrapper">
  <img class="pic" src="/images/pic1.jpg" />
  <div class="socialbuttons">
    <a class="socialanchor" href="mailto:Alex.Wilkins@Newscientist.com"><img class="socialicon" src="/images/close-envelope.png"/></a>
    <a class="socialanchor" href="https://twitter.com/AlexWilkins22"><img class="socialicon" src="/images/twitter.png"/></a>
    <a class="socialanchor" href="https://www.linkedin.com/in/alex-wilkins-345077117/"><img class="socialicon" src="/images/linkedin.png"/></a>
    </div>
  </div>
  </div>

</div>
